.filebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 36px;
    bottom: 0;
    top: 31px;
    background-color: rgb(54, 54, 54);
    border-right: solid;
    border-width: 1px;
    border-color: rgb(89, 89, 89);
    width: 364px;
    z-index: 200;
    position: absolute
}


.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: rgb(54, 54, 54);
    top: 0px;
}

.toolbar-button {
    background-color: rgb(54, 54, 54);
    height: 22px;
    margin-left: 8px;
    margin-top: 2px;
    height: 25px;
    border: 0
}

.toolbar-button:hover {
    background-color: rgb(71, 71, 71);
    border-radius: 4px;
}

.toolbar-icon {
    height: 18px;

}


.parameter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: rgb(54, 54, 54);
    position: relative;
    width: 100%;
    margin-top: auto;
    border-top: solid;
    border-width: 1px;
    border-color: rgb(89, 89, 89);


}

.parameter-icon {
    height: 18px;
    margin-top: 3px;

}

.parameter-button {
    background-color: rgb(54, 54, 54);
    height: 22px;
    margin-top: 2px;
    height: 25px;
    border: 0
}

.parameter-button:hover {
    background-color: rgb(71, 71, 71);
    border-radius: 4px;
}

.parameter-bar-right {
    margin-right: 10px;
}

.parameter-bar-left {
    margin-left: 10px
}

.vault-button {
    background-color: rgb(54, 54, 54);
    height: 22px;
    margin-top: 2px;
    height: 25px;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(192, 192, 192);
    font-weight: 500;
}

.parameter-bar p {
    padding-left: 8px
}

.folder-line {
    background-color: rgb(54, 54, 54);
    border: 0;
    height: 27px;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

.folder-line:hover {
    background-color: rgb(71, 71, 71);
    border-radius: 6px;
}

.folder-line img {
    height: 18px;
    
}

.folder-line p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(192, 192, 192);
}

.folder-list {
    display: flex;
    flex-direction: column;
    border-left: solid;
    border-width: 1px;
    border-color: rgb(89, 89, 89);
    margin-left: 24.5px
}

.folder-list .folder-line {
    margin-left: 0px
}

.folder-list .folder-list {
    margin-left: 14px
}


.espace {
    margin-left: 8px
}

.file-tag {
    background-color: #262626;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    font-weight: 500;
    font-size: 10px;
    margin-left: auto
}


