.header {
    background-color: rgb(54, 54, 54);
    height: 30px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(89, 89, 89);
    position: fixed;

}


.header-left-section {
    width: 400px;
    height: 100%;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(89, 89, 89);
}


.column-icon {
    height: 18px;
    margin-top: 3px;

}

.column-button {
    background-color: rgb(54, 54, 54);
    height: 22px;
    margin-left: 8px;
    margin-top: 2px;
    height: 25px;
    border: 0;
    position: relative

}

.column-button:hover {
    background-color: rgb(71, 71, 71);
    border-radius: 4px;
}

.header-right-section {
    flex: 5;
    height: 100%;
}

.header-middle-section {
    flex: 5;
    height: 100%;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(89, 89, 89);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header-middle-section button {
    margin-right: 2px;
}

.header-right-section button {
    margin-right: 2px;
}


.column-button .tooltip {
    position: absolute;
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    bottom: -150px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    z-index: 999;
    border: solid;
    border-color: rgb(89, 89, 89);
    border-width: 1px;
    border-radius: 6px;

}

.column-button:hover .tooltip {
    opacity: 1;
}

.column-button:hover .tooltip {
    opacity: 1;
}

.header-right-section {
      flex: 5;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(192, 192, 192);
    margin: 0;
    background-color: #262626;
    border-radius: 6px;
    width: 150px;
    margin-left: 10px;
    height: 100px;
    border: solid;
    border-color: rgb(89, 89, 89);
    border-width: 1px;
}


.tab .column-button {
    background-color: #262626;
}

.tab p {
    margin: 0;
    margin-top: 6px;
    margin-left: 10px;
}

