.workpad {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    z-index: 1999;
    left: 401px;
    right: 0px;
    bottom: 0px;
    top: 31px;
    position: fixed

}

.note-panel {
    display: flex;
    flex-direction: column;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(89, 89, 89);
    background-color: #262626;
    flex: 1;
    
}


.note-panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.graph-panel {
    flex: 1;
    background-color: #262626;
}


.note-button {
    background-color: #262626;
    height: 22px;
    margin-left: 0px;
    margin-top: 8px;
    height: 25px;
    border: 0;
    margin-right: 1px;
    margin-left: 1px;
}

.note-button:hover {
    background-color: rgb(54, 54, 54);
    border-radius: 4px;
}

.note-icon {
    height: 18px;
    margin-top: 3px;

}

.note-panel-body p {
    font-size: 20px;
    margin-left: 30px
}

