.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 31px;
    background-color: rgb(54, 54, 54);
    border-right: solid;
    border-width: 1px;
    border-color: rgb(89, 89, 89);
    width: 35px;
    z-index: 100;
}


.sidebar-button {
    background-color: rgb(54, 54, 54);
    height: 22px;
    margin-left: 0px;
    margin-top: 8px;
    height: 25px;
    border: 0;
    margin-right: 1px;
    margin-left: 1px;
}

.sidebar-button:hover {
    background-color: rgb(71, 71, 71);
    border-radius: 4px;
}


